:host{
  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );
  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

}
.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
.main-container {
   flex-direction: row; /* Arrange children in a row */
  justify-content: space-between; /* Distribute space between children */
  align-items: flex-start; /* Align children to the start of the container */
  } 
  
.column {
    flex: 1;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #101112;
    color: aqua;
    border-radius: 20px;
  }
  .code-container {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #6a858f;
    height: 350px;
    overflow: scroll;
    color: aqua;
  }
  .array-container {
  
    padding: 10px;
    display: flex;
    background-color: #e6f0f2;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    margin: 0px;
   
  }
  
  .array-bar {
    width: 20px;
    background-color: #a0caea;
    margin: 0 2px;
    transition: background-color 0.1s ease;
  }
  
  .array-bar.comparing {
    background-color: #446076; /* Color for comparing elements */
  }
.button{
    background-color: #b5c7da;
    border: none;
    color: rgb(4, 44, 22);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
  .button:hover {
    background-color: #a1a0ab;
  }
  .button:active {
    background-color: #756ec5;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-wrap: wrap;
    
  }
.components{
  padding: 10px;
  margin: 10px;
}
.tabs {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content: center;
}
.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}
.tabs button {
  background-color: #e4e1e1;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 90px;
  transition: background-color 0.3s;
}

.tabs button.active {
  background-color: #a3a1a1;
  color: #e6f0f2;
  font-weight: bold;
}

.tab-content {
  margin-top: 20px;
}
.header{
  color: #446076;
 margin: 10px;

}